<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dineplan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".rest.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.SelectLocation" />
        <activity android:name=".activities.AddFoodActivity" />
        <activity android:name=".activities.Payment1Activity" />
        <activity android:name=".activities.PaymentRecordCardActivity" />
        <activity android:name=".activities.PaymentCashActivity" />
        <activity android:name=".activities.PaymentOtherActivity" />
        <activity android:name=".activities.PaymentReceiptActivity" />
        <activity android:name=".activities.SaleActivity" />
        <activity android:name=".activities.ShiftActivity" />
        <activity android:name=".activities.ShiftEndActivity" />
        <activity android:name=".activities.AnimationActivity"></activity>
    </application>

</manifest>